name: TruffleHog Secrets Scan

on:
  pull_request:
  push:
    branches: [main]

jobs:
  trufflehog-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v3
        with:
          path: .
          fail: true   # Fail pipeline if secrets are found
